*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}

#google_translate_element{

  float: right;
  margin-right: 10px;
}

.carousel-inner img{

    height: 200px;
    object-fit: cover;
}

.santa {
    animation: rotacion 10s linear infinite;
    box-shadow: 0px 0px 1px #333;
    border-radius: 15px;
  }
  
  /* Animación de rotación 
  @keyframes rotacion {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }*/


main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
background-color: #e4897f;
}

#btn{

    font-size: 20px;
}

#check , #delete{
 
    cursor: pointer;

}

.todo-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;

}

.titulo {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.todo-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#todo-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

#todo-button {
    padding: 10px 15px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.todo-button:hover {
    background-color: #4cae4c;
}

#todo-list li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

footer{

    /*background-image: url(./img/diversidad\ cultural.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    display: flex;
    justify-content: center;
    justify-items: center;
}


.pe-pagina{

    color: #1407c0;
    margin-top: 4%;
    font-size: 20px;
}

/*.todo-item {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #fafafa;
    transition: background-color 0.3s;
}

.todo-item:hover {
    background-color: #f0f0f0;
}

.todo-text {
    flex: 1;
}

.todo-delete {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.todo-delete:hover {
    background-color: #c0392b;
}*/

@media (max-width:599px){

    h1{

        font-size: 1rem;
    }

    footer{

        display: flex;
        justify-content: center;
        justify-items: center;
        background-image: url(./img/diversidad\ cultural1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 24vh;
    }

    .pe-pagina{

        font-size: 12px;
        color: #fff;
    }

    .titulo{

        font-size: 15px;
    }

    }


@media (min-width:601px) and (max-width:1200px){

   .titulo{

    font-size: 1.2rem;
   }

}

@media (min-width:1201px){

    .titulo{
        font-size: 1.5rem;
    }
 
}